html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #4dbeff;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Adjust the gap between the logo and the text */
}

footer {
    background-color: rgb(255, 255, 41);
    color: #00c3ff;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: auto;
}

body {
    font-family: Arial, sans-serif;
    background-color: #bbe5fe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form label {
    font-weight: bold;
    color: #003850;
}

form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    align-self: center;
    background-color: #4dbeff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #3aa0e0;
}

h1, h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

a {
    color: blue;
}

li {
    list-style-type: none;
    padding: 0;
    font-size: large;
}

img {
    max-width: 30vh; 
    height: 10vh;
}