<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/instruction.css">
</head>
<body>
    <header>
        <img src="../icons/logo.svg" alt="Logo" class="header-logo">
        <h1>Товари Нацонального Кешбеку</h1>
        <nav>
            <ul>
                <li><a href="/products">Список продуктів</a></li>
                <li><a href="/register">Реєстрація товару</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Інструкція:</h2>
        <ul>
            <li>
                <p>Для перегляду інформації про компанію, наведіться мишкою на рядок з товаром, інормація про виробника якого вас цікавить, та <b>натисніть на збільшений рядок.</b></p>
            </li>
            <li>
                <p>Щоб перейти на сторінку виробника натисніть на <b>назву компанії</b> на сайті з інформацією про компанію.</p>
            </li>
            <li>
                <p>Для повернення до списку продуктів, натисніть кнопку <b>"Назад"</b>.</p>
            </li>
            <li>
                <p>Для фільтрації продуктів за категорією, <b>виберіть категорію в списку категорій.</b></p>
            </li>
            <li>
                <p>Для перегляду інформації про авторів, <b>прокрутіть сторінку вниз.</b></p>
            </li>
            <li>
                <p>Щоб видалити продукт <b>натисніть кнопку видалити в таблиці. УВАГА НЕ НАТИСКАЙТЕ ВИДАЛИТИ, ЯКЩО НЕ ХОЧЕТЕ ВИДАЛЕННЯ ТОВАРУ</b></p>
            </li>
            <li>
                <p>
                    Для реєстрації нового товару, перейдіть на сторінку <b>"Реєстрація товару"</b> та заповніть всі поля форми.
                </p>
            </li>
            <li>
                <p>
                    Для зміни зовнішнього вигляду сайту з продуктами з таблиці на слайдер, <b>натисність на зображення слайдеру біля фільтру. Та навпаки на картинку таблиці при виді слайдеру.</b>                
                </p>
            </li>
            <li>
                <p>
                    Для переходу на сторінку з продуктами, <b>натисніть "Список продуктів"</b>
                </p>
            </li>
        </ul>
        <button onclick="redirectToProducts()">Перейти до списку продуктів</button>
    </main>
    <footer>
        <h2>Автори</h2>
        <ul>
            <li>Перепьолкін Олександр - <a href="mailto:oleksandr@gmail.com">oleksandr@gmail.com</a> - +380 93 163 5886</li>
            <li>Сасько Олег - <a href="mailto:olesasko@gmail.com">olesasko@gmail.com</a> - +380 68 994 2055</li>
        </ul>
    </footer>
    <script>
        function redirectToProducts() {
            window.location.href = '/products';
        }
    </script>
</body>
</html>